#labelCampanha{
	background-color: #eee;
}

.caixas{
	padding-top: 10px;
	background: #FFFFFF;
	border: 0.5px solid #e0e0e0;
	box-shadow: 0 4px 4px -2px #989898;
	-moz-box-shadow: 0 4px 4px -2px #989898;
	-webkit-box-shadow: 0 4px 4px -2px #989898;
  }

.caixasPrincipais{
	height: 300px;
	overflow-y:scroll;
}